.attribution { 
  font-size: 14px; 
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* background: rose 100 */
body {
  padding: 2% 5%;
  margin-bottom: 10%;
  min-height: 100vh;
  font-weight: 400;
  font-family: Red Hat Text, Arial;
  background-color: hsl(13, 31%, 94%);  
  display: flex;
  justify-content: center;
}

/* menu section in general: */
.menu-section {
  flex: 3;
}

.menu-grid {
  display: grid;
  /*
    the below line basically display 3 items per column
    grid-template-columns: auto auto auto (1 : 1 : 1)
  */
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  row-gap: 2%;
  column-gap: 2%;
}

/* cart section in general: */
.cart-section {
  margin: 2% auto 0 2%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 15px;
  height: fit-content;
}


@media screen and (max-width: 450px) {
  body {
    display: block;
    position: relative;
  }
  .menu-grid {
    display: grid;
    /*
      the below line basically display 3 items per column
      grid-template-columns: auto auto auto (1 : 1 : 1)
    */
    grid-template-columns: auto;
    row-gap: 2%;
    column-gap: 2%;
  }

  .cart-section {
    position: absolute;
    width: 75%;
    bottom: -30%;
  }

  .confirmed-order {
    width: 90%;
    padding: 5%;
    top: 0%
  }
}


@media screen and (max-width: 900px) and (min-width: 450px) {
  body {
    display: block;
    position: relative;
  }
  .menu-grid {
    display: grid;
    /*
      the below line basically display 3 items per column
      grid-template-columns: auto auto auto (1 : 1 : 1)
    */
    grid-template-columns: auto auto;
    row-gap: 2%;
    column-gap: 2%;
  }

  .cart-section {
    position: absolute;
    width: 75%;
    bottom: -40%;
  }

  .confirmed-order {
    width: 70%;
    padding: 5%;
    top: 0%
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  body {
    display: block;
    position: relative;
  }
  .menu-grid {
    display: grid;
    /*
      the below line basically display 3 items per column
      grid-template-columns: auto auto auto (1 : 1 : 1)
    */
    grid-template-columns: auto auto auto;
    row-gap: 2%;
    column-gap: 2%;
  }

  .cart-section {
    position: absolute;
    width: 60%;
    bottom: -40%;
  }

  .confirmed-order {
    width: 60%;
    padding: 5%;
    top: 0%
  }
}