.image-and-add {
  position: relative;
}

.item-image {
  border-style: solid;
  border-color: hsl(13, 31%, 94%);
  border-width: 2px;
  border-radius: 10px;
}

.item-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
}

.add-button {
  position: absolute;
  width: 50%;
  left: 25%;
  right: 25%;
  bottom: -5%;
  display: flex;
  align-items: center;
  padding: 3% 5%;
  border-radius: 25px;
  cursor: pointer;
  border-color: hsl(7, 20%, 60%); /* rose 400 ?*/
}

.add-button:hover {
  border-color: hsl(14, 86%, 42%);
  color: hsl(14, 86%, 42%);
  background-color: hsl(13, 31%, 94%);
}

.add {
  font-size: 15px;
  font-weight: 700;
}

.info {
  margin-top: 35px;
}

.type {
  color: hsl(7, 20%, 60%); /*rose 400*/
  line-height: 1.5;
}

.name {
  color: hsl(14, 65%, 9%); /*rose 900*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.price {
  color: hsl(14, 86%, 42%); /*red*/
  font-weight: 600;
  line-height: 1.5;
}

.title {
  color: hsl(14, 65%, 9%);
  font-size: 45px;
  font-weight: 700;
  line-height: 2.5;
}

.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* set this property to show the limited line for the text */
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* CSS for javascript file */

.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
}


.quantity input {
  border: none;
  text-align: center;
  background-color: hsl(14, 86%, 42%); /* red */
  color: white;
  width: 20%;
}

.quantity button {
  border-radius: 50%;
  background-color: hsl(14, 86%, 42%); /* red */
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.quantity button:hover {
  color: hsl(14, 86%, 42%); /* red */
  background-color: white;
  border: 1px solid hsl(14, 86%, 42%);
  transition: 0.5s;
}

.changing-color {
  background-color: hsl(14, 86%, 42%);
}

.red-border {
  background-color: red;
}
